/* ====================================
// css variables
// ==================================== */

:root {
  --purple: #d7a1fd;
  --green: #98fb00;
  --beige: #f4ede8;
  --serif: "Noto Serif", serif;
  --sans-serif: "Nunito Sans", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  margin: auto;
  font-family: var(--serif);
  font-size: 15px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  background: var(--purple);
  text-align: center;
}

nav,
footer {
  background: black;
  color: white;
}

.news {
  background: var(--beige);
}

.citation {
  background: var(--green);
  text-align: center;
}

.opportunities h2 {
  background: var(--purple);
}

.opportunities p {
  background: var(--green);
  width: 50%;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 20px 10px;
  font-size: 20px;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.opportunities .container {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.container-2 {
  justify-content: space-between;
}

nav {
  justify-content: space-around;
}

strong,
.opportunities,
h3,
footer h2 {
  font-family: var(--sans-serif);
}

h2,
h1 {
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: 50px;
}

.container div {
  width: 189px;
}

.section,
footer,
nav {
  padding: 20px;
}

footer {
  text-align: center;
}

.cta {
  flex-grow: 1;
  text-align: center;
}
