/* ====================================
// css variables
// ==================================== */

:root {
  --purple: #d7a1fd;
  --green: #98fb00;
  --beige: #f4ede8;
  --serif: "Noto Serif", serif;
  --sans-serif: "Nunito Sans", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 428px;
  margin: auto;
  font-family: var(--serif);
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

.box-title {
  padding: 20px 0;
}

header {
  background: var(--purple);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

header p {
  color: white;
  font-size: 20px;
}

nav {
  justify-content: space-around;
  font-size: 18px;
}

nav,
footer {
  background: black;
  color: white;
}

.container-small {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  align-items: center;
  height: 168px;
}

.container-small strong {
  font-size: 18px;
  line-height: 24px;
}

.article-whats-on div {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 7px solid var(--purple);
  text-align: center;
  line-height: 15px;
}

.cta {
  flex-grow: 1;
  text-align: center;
  background: black;
  color: var(--purple);
  padding: 20px;
  margin: 30px 97px 60px;
  font-style: italic;
}

.citation p {
  padding-bottom: 20px 20px 0;
}

.citation {
  background: var(--green);
  text-align: center;
  padding: 20px;
}

.citation strong {
  font-size: 30px;
  font-style: italic;
  line-height: 28px;
  letter-spacing: -1.5px;
}

.news {
  background: var(--beige);
  padding: 60px 10px;
}

.article p {
  padding: 20px;
}

.article {
  background: white;
  border-radius: 20px;
}

.opportunities h2 {
  background: var(--purple);
}

.opportunities p {
  background: var(--green);
  width: 50%;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 20px 10px;
  font-size: 20px;
  font-style: italic;
}

strong,
.opportunities,
footer h2 {
  font-family: var(--sans-serif);
  text-transform: uppercase;
}

.opportunities .container {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.opportunities {
  padding-bottom: 60px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-2 {
  justify-content: space-around;
}

.container-news {
  align-items: flex-start;
}

.container div {
  width: 189px;
}

h2,
h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  text-align: center;
}

footer,
nav {
  padding: 20px;
}

.section h2 {
  padding-bottom: 30px;
  text-transform: uppercase;
}

footer {
  text-align: center;
  padding-bottom: 112px;
  font-size: 13px;
}

footer h2 {
  color: #313131;
  padding-bottom: 20px;
}
