/* ====================================
// css variables
// ==================================== */

:root {
  --purple: #d7a1fd;
  --green: #98fb00;
  --beige: #f4ede8;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 320px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  background: var(--purple);
}

nav,
footer {
  background: black;
  color: white;
}

.news {
  background: var(--beige);
}

.citation {
  background: var(--green);
}

.opportunities h2 {
  background: var(--purple);
}

.opportunities p {
  background: var(--green);
}

.container {
  display: flex;
}
